body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    padding: 5px;
    margin: 5px;
}

h1{
    font-family: Century Gothic, "Century Gothic", Calibri, Helvetica, Arial, sans-serif ;
}
h3{
    font-family: "Apple Chancery", Copperplate, Futura, Geneva, Herculanum, Arial, sans-serif;
}
.album_choices{
    font-family: "Century Gothic",Baskerville, Cochin, Candara, Optima, Arial, serif;
}

#backfade{
    width: 120%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    display: block;
    top:150px;
    left: -10px;
    z-index: 1;
}

#frontfade{
    width: 104%;
    height: 150px;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    display: block;
    margin: 0px;
    z-index: 2;
    left: -2%;
    top: -0px;
    float: left;
    padding: auto;
}
.header{
    color:white;
    z-index: 0;
    text-align: center;
    margin:auto;
}
#header{
    left: 2%;
    top: 4%;
    margin-top: 20px;
    max-height:140px;
}

.album_choices{
    display: inline;
    margin:auto;
    color:white;
    font-size:1.1em;
    height: 1.5em;
    background-color: transparent;
    border: none;
    border-right-color: white;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 1px;
}
#album_names{
    margin-top: 25px;
    margin-bottom: 10px;
}

#slideshow{
    background-color: rgba(0, 0, 0, 0.2);
    position:fixed;
    display: block;
    width:75%;
    height: 80%;
    margin-left: 12.5%;
    margin-top:35px;
    max-height: calc(100% - 200px);
    border-style: solid;
    border-color: rgba(0,0,0,0);
    border-width: 5px;
    border-radius: 5px;
}

#picture{
    height: 98%;
    display: block;
    width: 95%;
    margin-top: 0.5%;
    margin-left: 2.5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
}
#buttons{
    width: 60px;
}
button{
    position: relative;
    margin-top:5px;
    left: calc(40% - 20px);
    transform: translate(-50%);
    height:25px;
    background-color: transparent;
    border:none;
}
.buttons{
    height: 100%;
    max-width: 20px;
}
#left{
    margin-right: 20px;
}
#right{
    margin-left: 20px;
}
